<script>
$(document).ready(
  function(){
    setInterval(function(){
      $.getJSON('<%= "#{chamada_mensagem_url}.json"  %>', 
        function(data) {
		  $('<b>' + data.remetente + ':</b> ' + data.conteudo + '<br>').appendTo("#mensagens");
		});	
    }, 3000);
  });
</script>

<script>
$(function() {
  $(".button").click(function() {
    var conteudo = $("input#conteudo").val();
    if(conteudo == "") {
      return false;
    }
    $('<b>Eu:</b> ' + conteudo + '<br>').appendTo("#mensagens");
    
    $.ajax({
      type: "POST",
      url: "<%= chamada_enviarMensagem_url %>",
      data: conteudo,
      success: function() {
        ;
      }
    });
    
    return false
    
  });
});
</script>

<% if atendente? || medico? -%>
  <%= link_to "Encerra atendimento", encerrar_chamada_path %>
<% end -%>

<% if medico? -%>
  | <%= link_to "Visualizar prontuário", :controller => "show_prontuario", :action => "show", :id => @paciente.id %>
<% end -%>

<h1> Mensagens </h1>

<div id="mensagens">
</div>

<div id="enviar_mensagem">
  <form name="texto" action="">
      <input type="text" size="90" name="conteudo" id="conteudo" value="" />
      <input type="submit" class="button" id="botao_enviar" value="Enviar" />
  </form>
</div>

