<h1>Mensagens</h1>
<% @mensagens.each do |mensagem| %>
  <div id="mensagem">
    <b>
      <%= mensagem.remetente %>:
    </b>
    <%= mensagem.conteudo %>
    <br>
  </div>
<% end %>

<%= render "mensagem_form" %>
