<%= form_for(@paciente) do |paciente| %>
	<div class="field">
		Nome: <% paciente.label :nome %>
		<% paciente.text_field :nome %>
	</div>
	<% paciente.submit 'Buscar', search_paciente_path(@paciente)  %>
<% end %>



