<h1>Pesquisa de pacientes</h1>

<% if @pacientes.first.nil? %>
	Erro.<br/>
<% else %>
	<% render :partial => "paciente/search", :locals => @paciente %>
<% end %>

<% if @pacientes.empty? %>
	Erro2.<br/>
<% end %>

<% if @pacientes.empty? %>
	Nenhum paciente encontrado.
<% else %>
  <table>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>

  <% @pacientes.each do |paciente| %>
    <tr>
      <td><%= paciente.id %></td>
      <td><%= paciente.nome%></td>
      <td><%= link_to 'Mostrar', paciente %></td>
      <td><%= link_to 'Selecionar', edit_pesquisa_path(pesquisa) %></td>
    </tr>
    end
  <% end %>
<% end %>

  </table>
<br/>
</div>
