<br>
<br>
<div style="background-color:gray" id ="footer" >
  <tr>
    <td>Powered by:</td>
    <td><%= link_to (image_tag 'rails.png'), "http://rubyonrails.org", :target => "_blank" %></td>
    <td><%= link_to (image_tag 'ubuntu.png', {:height => "5%", :width => "5%"}), "http://ubuntu.com", :target => "_blank" %></td>
    <td><%= link_to (image_tag 'postgresql.png', {:height => "7.5%", :width => "7.5%"}), "http://www.postgresql.org/", :target => "_blank" %></td>
  </tr>
</div>

