<br>
<br>
<div style="background-color:gray" id ="footer" >
  <tr>
    <td>Powered by:</td>
    <td><%= link_to (image_tag 'rails.png'), "http://rubyonrails.org" %></td>
    <td><%= link_to (image_tag 'ubuntu.png', {:height => "5%", :width => "5%"}), "http://ubuntu.com" %></td>
    <td><%= link_to (image_tag 'postgresql.png', {:height => "7.5%", :width => "7.5%"}), "http://www.postgresql.org/" %></td>
  </tr>
</div>

